div.developer-mozilla-org:not([data-hveid])::before {
  background-image: url(https://developer.cdn.mozilla.net/media/img/favicon32.png);
  width: 32px;
  height: 32px;
  content: "";
  display: block;
  position: absolute;
  left: -25px;
}

div.developer-mozilla-org:not([data-hveid]) {
  background-color: #EFF1F3;
  border: 8px solid #EFF1F3;
  border-left: 12px solid #EFF1F3;
  border-right: 12px solid #EFF1F3;
}

div.stackoverflow-com:not([data-hveid])::before {
  background-image: url(http://cdn.sstatic.net/stackoverflow/img/favicon.ico);
  width: 32px;
  height: 32px;
  content: "";
  display: block;
  position: absolute;
  left: -25px;
}

div.stackoverflow-com:not([data-hveid]) {
  background-color: #FFF8F0;
  border: 8px solid #FFF8F0;
  border-left: 12px solid #FFF8F0;
  border-right: 12px solid #FFF8F0;
}

div.w3schools-com {
  display: none;
}
